/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("ph1.jpg");
  }

  /* styles.css */

/* Resume Header */
.resume-header {
    background-color: #4CAF50; 
    color: white;               
    text-align: center;        
    padding: 20px;             
    border-radius: 8px 8px 0 0; }
  
  #resume-name {
    font-size: 2.5rem;  
    margin: 0;         
    font-weight: bold;
  }
  
  .job-title {
    font-size: 1.2rem;  
    font-style: italic; 
    margin-top: 5px;    
  }
  

  .resume-header p {
    color:EAF2D7;  
    margin-top: 0;
  }
  
  
  .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .form-container, .template-selection, .resume-preview {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  h2, h3 {
    color: #333;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .template {
    padding: 10px 15px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .template:hover {
    background-color: #0056b3;
  }
  
  .resume-preview {
    display: none;
  }
  
  #resume-output {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .resume-preview h2 {
    text-align: center;
  }
  